@import "../../styles/Responsive.scss";
@import "../../styles/Variables.scss";

.todoList {
  margin-top: 1.5rem;
  width: 100%;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s;

  @include Mobile {
    margin-top: 1rem;
  }

  &.darkMode {
    background: $Very-Dark-Desaturated-Blue;

    .todoItems {
      .todoItem {
        color: $Light-Grayish-Blue;

        &.completed {
          color: $Dark-Grayish-Blue;
        }
      }
    }
  }

  .todoItems {
    width: 100%;
    padding: 1.5rem;
    border-bottom: 1px solid $Light-Grayish-Blue;
    display: flex;
    align-items: center;
    gap: 1.2rem;

    @include Mobile {
      padding: 1rem;
      gap: 0.5rem;
      border-bottom: 0.5px solid $Light-Grayish-Blue;
      font-size: 13px;
    }

    .todoItem {
      color: $Very-Dark-Grayish-Blue;
      cursor: pointer;
      width: 100%;

      &.completed {
        color: #ccc;
        text-decoration: line-through;
        opacity: 0.7;
        font-size: 15px;

        @include Mobile {
          font-size: 13px;
        }
      }
    }

    .delete {
      width: 16px;
      cursor: pointer;
      opacity: 0;
      transition: 0.3s;

      @include Mobile {
        width: 14px;
      }
    }

    .checked,
    .unchecked {
      width: 18px;
      cursor: pointer;

      @include Mobile {
        width: 14px;
      }
    }

    &:hover {
      .delete {
        opacity: 1;
      }
    }
  }

  .summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    color: $Dark-Grayish-Blue;
    font-size: 14px;

    @include Mobile {
      font-size: 12px;
      padding: 1rem;
    }

    .action {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      @include Mobile {
        display: none;
      }

      p {
        font-weight: bold;
      }

      .link {
        &:active {
          color: $Bright-Blue;
        }

        &.active {
          color: $Bright-Blue;
        }
      }
    }

    p:not(.itemsleft) {
      cursor: pointer;
    }
  }
}

.mobileAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  color: $Dark-Grayish-Blue;
  font-size: 14px;
  font-weight: bold;
  display: none;

  @include Mobile {
    font-size: 12px;
  }

  @include Mobile {
    display: flex;
  }

  &.darkMode {
    background: $Very-Dark-Desaturated-Blue;
    color: $Dark-Grayish-Blue;
  }

  .link {
    &:active {
      color: $Bright-Blue;
    }

    &.active {
      color: $Bright-Blue;
    }
  }
}
