@import "../../styles/Responsive.scss";
@import "../../styles/Variables.scss";

.todo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;

  @include Mobile{
    justify-content: unset;
    align-items: unset;
  }

  .container{
    width: 550px;

    @include Mobile{
      width: 90%;
      margin-inline: auto;
    }


    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 4.5rem;
        width: 100%;

        @include Mobile{
          margin-top: 3rem;
        }

    
      }

      .greeting{
        color: #fff;
        font-size: 13px;
        letter-spacing: 2px;
        margin-top: 1rem;
      }
    
      .title{
        font-size: 2.5rem;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 10px;

        @include Mobile{
          font-size: 1.7rem;
        }
      }
    
      img{
        width: 35px;
        cursor: pointer;

        @include Mobile{
          width: 27px;
        }
      }
    
      .typeHere{
        width: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding : 1.5rem;
        border-radius: .5rem;
        margin-top: 2rem;
        transition: .5s;

        @include Mobile{
          gap: .5rem;
          padding : 1rem;
        }

        &.darkMode{
            background:$Very-Dark-Desaturated-Blue;

            input{
                color: #fff;
            }
        }

        form{
          display: flex;
          align-items: center;
          width: 100%;


          input{
            width: 100%;
          }

          button{
            display: none;

            @include Mobile{
              display: block;
            }
          }
        }

        img{
            width: 18px;

            @include Mobile{
              width: 14px;
            }
        }

        input{
            width: 100%;
            font-size: 18px;
            font-family: 'Josefin Sans', sans-serif;

            @include Mobile{
              font-size: 13px;
            }
            
            &::placeholder{
                opacity: .7;
            }
        }

      }
  }

  .backgroundImg{
    position: absolute;
    top: 0;
    z-index: -1;
    transition: .5s;
  }

  .background{
    position: absolute;
    background: $Very-Dark-Blue;
    top: 0;
    width: 100%;
    z-index: -2;
    transition: .5s;
    bottom: 0;
    min-height: 100vh;
  }

}


